html {
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#71848B,endColorStr=#BCD0D7); /*IE 6 7 8*/ 
    // background: -ms-linear-gradient(top, #71848B,  #BCD0D7);        /* IE 10 */
    // background:-moz-linear-gradient(top,#71848B,#BCD0D7);/*火狐*/ 
    // background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#71848B), to(#BCD0D7));/*谷歌*/ 
    // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#71848B), to(#BCD0D7));      /* Safari 4-5, Chrome 1-9*/
    // background: -webkit-linear-gradient(top, #71848B, #BCD0D7);   /*Safari5.1 Chrome 10+*/
    // background: -o-linear-gradient(top, #71848B, #BCD0D7);  /*Opera 11.10+*/
    background-color: #BCD0D7;
    height: 100%;
}

body {
    width: 410px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0px;
    font-family: "微软雅黑";
}

main {
    width: 470px;
    position: relative;
    background-color: #fff;

    > h1 {
        background: #FFCD76;
        padding: 15px 0;
        font-size: 15px;
        margin: 0;
        font-weight: 700;
        text-align: center;
    }

    .darkbanner {
        margin: 20px 0 0 -18px;
        padding: 8px 10px 10px 40px;
        background: #FFAA11;
        position: relative;
        width: 430px;
        font: bold 24px helvetica, arial, sans-serif;
        color: #fff;
        text-align: left;

        &:after{
            content: "";
            display: block;
            background: url("../../image/aiwrap.png");
            width: 18px;
            height: 10px;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }

    form {
        border: 0;
        margin: 0px;
        display: block;
        background-color: #fff;
        padding: 20px;

        p {
            .loginlabel {
                margin: 0;
                float: left;
                text-align: right;
                width: 70px;
                font-weight: normal;
                margin-right: 10px;
                padding-top: 6px;
            }

            .form-control {
                width: 280px;
                display: inline-block;
            }

            span {
                display: none;
                padding-left: 80px;
                color: red;
            }

            &.error {
                span {
                    display: block;
                }
                .form-control {
                    border: 1px solid red;
                }
            }
        }
    }
}